@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    /* Slate 950 essentially */
    --foreground: 210 40% 98%;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
  }
}

body {
  @apply bg-slate-950 text-slate-50 transition-colors duration-300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}